button{
  background: none;
  border: none;
}
button img{
  width: 200px;
  height:50px;
}
/* Social Buttons Style */
.btn-si {
  background-position: 1em;
  background-repeat: no-repeat;
  background-size: 2em;
  border-radius: 0.5em;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 0.9em;
  line-height: 1em;
  padding: 0 2em 0 4em;
  text-decoration: none;
  transition: all 0.5s;
  height: 50px;
  width: 200px;
  margin-bottom: 5px;
}
