.chat_header {
  text-align: center;
}
.chat_username {
  font-weight: 900; color: rgb(100, 100, 100); font-size: 11px;
}
.chat_border {
  border:1px solid rgb(0, 0, 0); width:300px; padding: 1px; font-size:13px; color:rgb(2, 2, 2);
  font-weight: 700;
}
.chat_background {
  background-color:rgb(156, 231, 245); border-radius:10px; padding:10px; overflow-y:scroll; height: 400px; display:flex; flex-direction:column-reverse;
}
.chat_message {
  background:rgb(252, 252, 98); border-radius:10px; padding:3px; text-align:left; color: rgb(46, 45, 45);
  font-size: 15px;
}
.chat_write {
  background: rgb(156, 231, 245);
}