@import url('https://fonts.googleapis.com/css2?family=Gaegu&family=Gamja+Flower&family=Nanum+Gothic&display=swap');

.test{
    width: 100%;
    height: 500px;
}
.first{
    width: 100%;
    height: 300px;
    color: black;
}

.mainhead{
    color: blue;
}
.mainzero{
  padding-left: 7%;
  height: 250px;
  font-family: 'Gamja Flower', cursive;
  font-size: 3vw;
  padding-top: 50px;
  line-height: 30px;
  color: rgb(0, 0, 0);
}

.container{
  padding-left: 7%;
  line-height: 30px;
  height: 250px;
  padding-top: 50px;
  background-color: #EFF6E6;
  font-family: 'Gamja Flower', cursive;
  font-size: 3vw;
  color: rgb(0, 0, 0);
}
/* 
.mainfirst1{
    float:left;
    width:500px;
    font-family: 'Gamja Flower', cursive;
    background-color: lightsalmon;
    
} */


.mainsecond{
    padding-left: 7%;
    height: 250px;
    padding-top: 50px;
    line-height: 30px;
    background-color: #DDECCB;
    font-family: 'Gamja Flower', cursive;
  font-size: 3vw;
  color: rgb(0, 0, 0);
}

.mainthird{
    padding-left: 7%;
    padding-top: 50px;
    height: 250px;
    line-height: 30px;
    background-color: #9ED4A2;
    font-family: 'Gamja Flower', cursive;
  font-size: 3vw;
  color: rgb(0, 0, 0);
}